body{
    background-color: pink;
}

.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
}

/* .box{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 1px solid black;
} */

/* body{
    text-align: center;
}
div{
    height: 100px;
    width: 500px;
    border: 1px solid black;
    margin: auto;
} */